<!DOCTYPE html>
<html lang="pl">

<%- include('partials/head') %>

<body class="max-vh-100">

    <div id="wrapper" class="d-flex">

        <%- include('partials/sidebar', { userdata }) %>

        <div id="page-content" class="min-vh-100 w-100 m-2 p-3 container-fluid"></div>

        <!-- SCRIPTS -->

        <%- include('partials/scripts') %>
</body>
</html>