<div class="container mt-auto">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top">
        <span class="mb-3 mb-md-0 text-small fw-lighter fs-6" style="font-size: .7rem !important;">© 2024 <a
                class="text-decoration-none" href="https://github.com/tomci0">tomcio.space</a></span>
    </footer>
</div>